<nav class="bottom-navbar" id="bottomNavbar">

    <a href="/index.html"
       class="nav-item active">

        <img src="/assets/bottom-nav/home.png"
             alt="Home">

        <span>

            Home

        </span>

    </a>

    <a href="/pages/courses/free.html"
       class="nav-item">

        <img src="/assets/bottom-nav/course.png"
             alt="Courses">

        <span>

            Courses

        </span>

    </a>

    <a href="/pages/student/downloads.html"
       class="nav-item">

        <img src="/assets/bottom-nav/down.png"
             alt="Downloads">

        <span>

            Downloads

        </span>

    </a>

    <a href="/pages/support/help.html"
       class="nav-item">

        <img src="/assets/bottom-nav/help.png"
             alt="Help">

        <span>

            Help

        </span>

    </a>

          </nav>
